name: Android CI

on:
  pull_request:
    branches-ignore:
      - 'l10n_v3_openjdk2'
    types: [ opened, reopened ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    env:
      CURSEFORGE_API_KEY: ${{ secrets.CURSEFORGE_API_KEY }}
      MOVTERY_KEYSTORE_PASSWORD: ${{ secrets.MOVTERY_KEYSTORE_PASSWORD }}

    steps:
      - name: Set IS_MAIN_BRANCH if on main branch
        if: github.ref_name == 'main'
        run: echo "IS_MAIN_BRANCH=true" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v4
        with:
         fetch-depth: 2

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v3

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - uses: gradle/gradle-build-action@v3
        with:
          gradle-version: 8.9

      - name: Build JRE JAR files
        run: |
          mkdir out
          # Build JRE JAR files (security manager, etc...)
          chmod +x ./gradlew
          ./gradlew :jre_lwjgl3glfw:build --no-daemon
          
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build Release.apk
        if: github.repository_owner == 'MovTery' && github.ref_name == 'main'
        run: |
          gradle :app_pojav_zh:assemblerelease

      - name: Build Debug.apk
        run: |
          # Build the launcher
          ./gradlew :app_pojav_zh:assembleDebug

      - name: Upload Release
        continue-on-error: true
        if: github.repository_owner == 'MovTery' && github.ref_name == 'main'
        uses: actions/upload-artifact@v4
        with:
          name: PojavZenithHorizon(Release)
          path: app_pojav_zh/build/outputs/apk/release/*

      - name: Upload Debug
        uses: actions/upload-artifact@v4
        with:
          name: PojavZenithHorizon(Debug)
          path: app_pojav_zh/build/outputs/apk/debug/*
